*{
    margin: 0;
}

/* .app{
    background-color: #000;
} */

.app__header{
    margin-left: 40%;
}

.app__header > h1{
    font-family: Raleway;
    color: #fff;
    padding: 5px;
}