body {
  margin: 0;
}

.loader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 250px;
}

.location-info{
  flex: 1;
  cursor: pointer;
  align-items: center;
  border-radius:10px;
  padding: 10px;
}

.location-info h2{
  text-align: center;
  font-family: Raleway;
  margin-bottom: 5px;
}

.location-info ul{
  list-style-type: none;
  padding: 0;
}

.location-info li{
  list-style-type: none;
  padding: 5px 0;
}

.header {
  padding: 10px;
  background-color: rgb(126, 8, 8);
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Raleway;
}